# API URL para producao
# VITE_API_URL=http://18.231.250.231:3333/api

VITE_API_URL=http://localhost:9001/api

# Outras configuracoes de ambiente (ajuste se precisar)
# Tamanho da pagina para listagem de inscricoes
VITE_REGISTRATIONS_PAGE_SIZE=100
VITE_APP_TITLE=Eventos Ipitinga
